<%- include('./partials/head') %>

<body>

    <header>
        <h1>Luh calm fit</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/summer">Summer</a></li>
                <li><a href="/winter">Winter</a></li>
                <li><a href="/fall">Fall</a></li>
                <li><a href="/spring">Spring</a></li>
            </ul>
        </nav>
    </header>

    <main>
    
        <div class="test">
            <button><%- include('./partials/left-arrow-svg') %></button>
                <%- include('./partials/carrousel') %>
            <button><%- include('./partials/right-arrow-svg') %></button> 
        </div>

        <div class="test">
            <button><%- include('./partials/left-arrow-svg') %></button>
                <%- include('./partials/carrousel') %>
            <button><%- include('./partials/right-arrow-svg') %></button> 
        </div>

        <div class="test">
            <button><%- include('./partials/left-arrow-svg') %></button>
                <%- include('./partials/carrousel') %>
            <button><%- include('./partials/right-arrow-svg') %></button> 
        </div>

<!--  test  -->

     <div id="shirts" class="product-group">
            <!-- <h2>Shirts</h2> -->
            <div class="product-list"></div>
    </div>

    <div id="broeken" class="product-group">
            <!-- <h2>Broeken</h2> -->
            <div class="product-list"></div>
    </div>

    <div id="schoenen" class="product-group">
            <!-- <h2>Schoenen</h2> -->
            <div class="product-list"></div>
    </div>
       
       
    </main>

    <script src="/script.js"></script>
</body>
</html>