<%- include('./partials/head') %>

<body>

    <header>
        <h1>Luh calm fit</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/summer">Summer</a></li>
                <li><a href="/winter">Winter</a></li>
                <li><a href="/fall">Fall</a></li>
                <li><a href="/spring">Spring</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2 class="saved">Your oufit has been succesfully saved!</h2>
        <br>
        <h3>Your saved outfits:</h3>
        <section class="outfits-saved">
            
            <% outfits.forEach((outfit, index) => { %>
            <div class="outfit-div">
                <h3>Outfit <%= index + 1 %></h3>
                <div>
                    <!-- <h3>Shirt</h3> -->
                    <img src="https://fdnd-agency.directus.app/assets/<%= outfit.shirt.foto %>" alt="<%= outfit.shirt.type %>">
                </div>
                <div>
                    <!-- <h3>Broek</h3> -->
                    <img src="https://fdnd-agency.directus.app/assets/<%= outfit.broek.foto %>" alt="<%= outfit.broek.type %>">
                </div>
                <div>
                    <!-- <h3>Schoen</h3> -->
                    <img src="https://fdnd-agency.directus.app/assets/<%= outfit.schoen.foto %>" alt="<%= outfit.schoen.type %>">
                </div>
            </div>
            <!-- <hr> -->
        <% }) %>
        </section>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
            const jsConfetti = new JSConfetti();
    
                jsConfetti.addConfetti({
                    emojis: ['⭐️', '✨', '🌟', '💫'],
                    emojiSize: 80,
                    confettiNumber: 40,
                });
            });
        </script>

    </main>

    <script src="/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js" defer></script>

</body>
</html>
